<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FW_Zip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FW_Zip.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="LastViewDir" serializeAs="String">
        <value>DRIVE</value>
      </setting>
      <setting name="ListType" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SortMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsUserSetLanguage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </FW_Zip.Properties.Settings>
  </userSettings>
</configuration>